{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dev Block | Home
{% endblock %}

{% block heading_img %}{% static 'img/home-bg.jpg' %}{% endblock %}

{% block heading %}
    <div class="site-heading">
        <h1>Dev Blog</h1>
        <span class="subheading">This is a blog for dev</span>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in post_list %}
                    <div class="post-preview">
                        <a href="{% url 'posts:detail' post.slug %}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.sub_title }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">{{ post.author.username }}</a>
                            {{ post.date_published }}</p>
                    </div>
                    <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}